<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>VIRTUAL ASSISTANT</title>
</head>

<style>
#butto{
    width:30%;
}

#ham{
  background: url(cover.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

</style>


<body>
    <div class="container" id="ham">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h2 class="mt-5" style="margin-left: 20%;">VIRTUAL ASSISTANT</h2>
                <img src="{{ url_for('video_feed') }}" height="60%">

                <div style="width:90%">

                    <form method="post" action="{{ url_for('tasks') }}">
                    <br>
                    <button type="button" id = "butto" class="butt btn btn-outline-dark" onclick='window.location.href="{{ url_for( 'listen') }}";'>Video</button>
                    <button type="button" id = "butto" class="butt btn btn-outline-dark" onclick='window.location.href="{{ url_for( 'listen') }}";'>Audio</button>
                    <button type="button" id = "butto" class="butt btn btn-outline-dark" >Text</button>
                
                    <br>
                    <input type="text" value="" id="lname" name="lname" style="width:90%;"><br><br>

                </form>

                    <div> {{results}} </div>  
                      
                </div>             
            </div>
        </div>
    </div>
    </body>
</html>